input{
    border-radius: 50px;
    border: 1px solid #999;
    padding: 10px;
}

/* do something */

button{
    border-radius: 50px;
    border: none;
    padding: 10px;
    background: pink;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background: orange;
}
